/* ██╗    ██╗ █████╗ ██╗   ██╗██████╗  █████╗ ██████╗  */
/* ██║    ██║██╔══██╗╚██╗ ██╔╝██╔══██╗██╔══██╗██╔══██╗ */
/* ██║ █╗ ██║███████║ ╚████╔╝ ██████╔╝███████║██████╔╝ */
/* ██║███╗██║██╔══██║  ╚██╔╝  ██╔══██╗██╔══██║██╔══██╗ */
/*  ███╔███╔╝██║  ██║   ██║   ██████╔╝██║  ██║██║  ██║ */
/*  ╚══╝╚══╝ ╚═╝  ╚═╝   ╚═╝   ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝ */
/* config by furcom (https://github.com/furcom)        */

@import url("./colors.css");

/* General */
* {
    background: transparent;
    background-color: transparent;
    border: none;
    color: @foreground;
    font-family: "0xProto Nerd Font Mono";
    font-size: 16px;
    margin: 0;
    min-width: 0px;
    padding: 0;
    transition-duration: 125ms;
}

tooltip {
    background-color: @color2;
    border-radius: 24px;
    color: @background;
}

/* Bar */
window#waybar {
    background: none;
}
window#waybar > box {
    background-color: @background_bar;
    border-radius: 0;
    box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.33);
    margin: 0 0 8px 0;
    min-height: 40px;
    padding: 8px 0;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/*----------------*/
/*----- LEFT -----*/
/*----------------*/

.modules-left{
    margin: 0 0 0 8px;
}

#group-logo {
    background-color: transparent;
}

#custom-logo {
    background-color: @alpha15;
    font-size: 24px;
    padding: 0 14px;
}

#custom-packages {
    background-color: #007700;
    margin: 0 0 0 8px;
    padding: 0 16px;
}

#clock,
#cpu,
#custom-weather,
#custom-settings,
#disk,
#memory,
#temperature {
    background-color: transparent;
    margin: 0 0 0 4px;
    padding: 0 12px;
}

#temperature.critical {
    background-color: #FF0000;
}

#window {
    background-color: transparent;
    margin: 0 0 0 4px;
    padding: 0 12px;
}

window#waybar.empty #window {
    background-color: transparent;
    color: transparent;
    margin: 0;
    min-width: 0;
    padding: 0;
}

#custom-win-close,
#custom-win-prev-workspace,
#custom-win-next-workspace,
#custom-win-expand,
#custom-win-fullscreen,
#custom-win-float {
    background-color: @alpha15;
    margin: 0 0 0 4px;
    padding: 0 16px;
}

/*------------------*/
/*----- CENTER -----*/
/*------------------*/
.modules-center {
}

#workspaces {
}

#workspaces button.urgent {
    color: #770000;
    margin: 0 8px 0 0;
    padding: 0 16px;
}

#workspaces button.persistent,
#workspaces button.active,
#workspaces button {
    margin: 0 8px 0 0;
    padding: 0 16px;
}

#custom-prev-workspace,
#custom-overview-workspaces,
#custom-next-workspace {
    background-color: @alpha15;
    margin: 0 4px 0 0;
    padding: 0 16px;
}

/*-----------------*/
/*----- RIGHT -----*/
/*-----------------*/
.modules-right {
    margin: 0 8px 0 0;
}

#group-media,
#group-network,
#group-bluetooth,
#group-input,
#group-output,
#group-backlight,
#group-battery,
#group-power {
    background-color: transparent;
}


#custom-media {
    background-color: transparent;
    margin: 0;
    padding: 0 12px;
}

#custom-prev-song,
#custom-toggle-song,
#custom-next-song {
    background-color: @alpha30;
    margin: 0 4px 0 0;
    padding: 0 16px;
}

#tray {
    background-color: transparent;
    margin: 0 4px 0 0;
    padding: 0 16px;
}

#tray menu {
    background-color: @color3;
    padding: 16px;
}

#backlight,
#battery,
#bluetooth,
#custom-pipewire,
#custom-power2,
#network,
#power-profiles-daemon,
#wireplumber,
#wireplumber.muted,
#custom-power {
    background-color: transparent;
    margin: 0 0 0 4px;
    padding: 0 16px;
}

#custom-power {
    background-color: @alpha15;
    margin: 0 0 0 4px;
    padding: 0 16px;
}

#battery.charging,
#battery.plugged {
    background-color: #007700;
    padding: 0 16px;
}

#battery.warning:not(.charging) {
    background-color: #ffbe61;
    color: @background;
    padding: 0 16px;
}
#battery.critical:not(.charging) {
    animation-direction: alternate;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-name: blink;
    animation-timing-function: linear;
    background-color: #f53c3c;
    padding: 0 16px;
}

/*-----------------*/
/*----- HOVER -----*/
/*-----------------*/

#group-media:hover,
#group-network:hover,
#group-bluetooth:hover,
#group-input:hover,
#group-output:hover,
#group-backlight:hover,
#group-battery:hover,
#group-power:hover,

#backlight:hover,
#battery:hover,
#battery.warning:not(.charging):hover,
#battery.charging:hover,
#battery.plugged:hover,
#bluetooth:hover,
#clock:hover,
#cpu:hover,
#custom-logo:hover,
#custom-next-workspace:hover,
#custom-next-song:hover,
#custom-overview-workspaces:hover,
#custom-packages:hover,
#custom-pipewire:hover,
#custom-power:hover,
#custom-power2:hover,
#power-profiles-daemon:hover,
#custom-prev-song:hover,
#custom-prev-workspace:hover,
#custom-settings:hover,
#custom-toggle-song:hover,
#custom-weather:hover,
#custom-win-close:hover,
#custom-win-expand:hover,
#custom-win-float:hover,
#custom-win-fullscreen:hover,
#custom-win-next-workspace:hover,
#custom-win-prev-workspace:hover,
#disk:hover,
#memory:hover,
#network:hover,
#temperature:hover,
#tray:hover,
#wireplumber:hover,
#window:hover {
    background-color: @color3;
}
#workspaces button:hover {
    background: none;
    box-shadow: none;
    text-shadow: none;
}
#workspaces button.persistent:hover {
    background-color: @color3;
}
