/* ██╗    ██╗ █████╗ ██╗   ██╗██████╗  █████╗ ██████╗  */
/* ██║    ██║██╔══██╗╚██╗ ██╔╝██╔══██╗██╔══██╗██╔══██╗ */
/* ██║ █╗ ██║███████║ ╚████╔╝ ██████╔╝███████║██████╔╝ */
/* ██║███╗██║██╔══██║  ╚██╔╝  ██╔══██╗██╔══██║██╔══██╗ */
/*  ███╔███╔╝██║  ██║   ██║   ██████╔╝██║  ██║██║  ██║ */
/*  ╚══╝╚══╝ ╚═╝  ╚═╝   ╚═╝   ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝ */
/* config by furcom (https://github.com/furcom)        */

@import url("./colors.css");

/*----------------*/
/*----- ETC ------*/
/*----------------*/

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

tooltip {
    background-color: @color2;
    border-radius: 12px;
    color: @background;
}

window#waybar {
    background: none;
}

window#waybar > box {
    background-color: @background_bar;
    border: none;
    border-radius: 0;
    box-shadow: 0px 4px 3px 1px rgba(0,0,0,0.5);
}

* {
    font-family: "0xProto Nerd Font";
    font-size: 20px;
    border: 0;
    border-radius: 24px;
    margin: 0;
    min-width: 0px;
    padding: 0;
    transition-duration: 125ms;
}

/*----------------*/
/*----- LEFT -----*/
/*----------------*/

.modules-left{
    padding: 8px;
}

#custom-settings {
    background-color: transparent;
    color: @foreground;
    padding: 0 12px 0 4px;
}

#workspaces {
    background-color: transparent;
    color: @foreground;
}
#workspaces button.urgent {
    color: #770000;
}
#workspaces button.persistent,
#workspaces button.active,
#workspaces button {
    border-color: rgba(0,0,0,0);
    color: @foreground;
    padding: 0 12px 0 4px;
}

#custom-updates {
    background-color: #008800;
    color: @foreground;
    margin: 0 0 0 12px;
    padding: 0 12px;
}

#window {
    background-color: @color3;
    color: @foreground;
    margin: 0 0 0 8px;
    padding: 0 8px;
}
window#waybar.empty #window {
    background: none;
    color: rgba(0,0,0,0);
}


/* Submenu Left */
#cpu {
    background-color: transparent;
    color: @foreground;
    margin: 0 0 0 24px;
}
#memory {
    background-color: transparent;
    color: @foreground;
    margin: 0 0 0 24px;
}
#disk {
    background-color: transparent;
    color: @foreground;
    margin: 0 0 0 24px;
}
#temperature {
    background-color: transparent;
    color: @foreground;
    margin: 0 0 0 24px;
}
#temperature.critical {
    background-color: #FF0000;
}

/*------------------*/
/*----- CENTER -----*/
/*------------------*/
.modules-center {
    padding: 8px;
}

#clock,
#custom-weather {
    background-color: @color3;
    color: @foreground;
    margin: 0 0 0 8px;
    padding: 0 8px;
}

/*-----------------*/
/*----- RIGHT -----*/
/*-----------------*/
.modules-right {
    padding: 8px;
}

#custom-spotify {
    background-color: @color3;
    color: @foreground;
    margin: 0 8px 0 0;
    min-width: 20px;
    padding: 0 4px 0 4px;
}

#tray {
    background-color: @color3;
    color: @foreground;
    margin: 0 8px 0 0;
    min-width: 28px;
}

#tray menu {
    background-color: @color2;
    border-radius: 12px;
    color: @foreground;
    margin: 0 8px 0 0;
}

#bluetooth {
    background-color: transparent;
    color: @foreground;
    margin: 0 8px 0 0;
    padding: 0 2px 0 4px;
}

#network {
    background-color: transparent;
    color: @foreground;
    margin: 0 8px 0 0;
    padding: 0 2px 0 3px;
}

#backlight {
    background-color: transparent;
    color: @foreground;
    margin: 0 2px 0 0;
    padding: 0 5px 0 3px;
}

#custom-pipewire {
    background-color: transparent;
    color: @foreground;
    margin: 0 8px 0 0;
}

#wireplumber,
#wireplumber.muted {
    background-color: transparent;
    color: @foreground;
    margin: 0 8px 0 ;
}

#battery {
    background-color: transparent;
    color: @foreground;
    margin: 0 8px 0 0;
    padding: 0 0px 0 4px;
}

#custom-pipewire {
    background-color: transparent;
    color: @foreground;
    margin: 0 8px 0 0;
}

#wireplumber,
#wireplumber.muted {
}
#battery.charging,
#battery.plugged {
    background-color: #007700;
    color: @foreground;
}
#battery.warning:not(.charging) {
    background-color: #ffbe61;
    color: @background;
}
#battery.critical:not(.charging) {
    animation-direction: alternate;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-name: blink;
    animation-timing-function: linear;
    background-color: #f53c3c;
    color: @foreground;
}

#custom-powermenu {
    background-color: transparent;
    color: @foreground;
    margin: 0 2px 0 0;
    padding: 0 5px 0 3px;
}

/*-----------------*/
/*----- HOVER -----*/
/*-----------------*/

#custom-settings:hover,
#custom-updates:hover,
#cpu:hover,
#memory:hover,
#disk:hover,
#temperature:hover,
#custom-weather:hover,
#clock:hover,
#window:hover,
#tray:hover,
#bluetooth:hover,
#network:hover,
#backlight:hover,
#custom-pipewire:hover,
#wireplumber:hover,
#battery:hover,
#battery.warning:not(.charging):hover,
#custom-powermenu:hover,
#custom-spotify:hover {
    background-color: @color2;
    color: @foreground;
}
#workspaces button:hover {
    background: none;
    box-shadow: none;
    text-shadow: none;
    transition: none;
}
#workspaces button.persistent:hover {
    background-color: @color2;
}

/*----------------*/
/*----- ETC ------*/
/*----------------*/

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

tooltip {
    background-color: @color2;
    border-radius: 12px;
    color: @background;
}

window#waybar {
    background: none;
}

window#waybar > box {
    background-color: @background_bar;
    border: none;
    border-radius: 0;
    box-shadow: 0px 4px 3px 1px rgba(0,0,0,0.5);
    margin: 0 0 8px 0;
}
