# ██████╗  ██████╗ ███████╗██╗███╗   ███╗ ██████╗      ██╗██╗
# ██╔══██╗██╔═══██╗██╔════╝██║████╗ ████║██╔═══██╗     ██║██║
# ██████╔╝██║   ██║█████╗  ██║██╔████╔██║██║   ██║     ██║██║
# ██╔══██╗██║   ██║██╔══╝  ██║██║╚██╔╝██║██║   ██║██   ██║██║
# ██║  ██║╚██████╔╝██║     ██║██║ ╚═╝ ██║╚██████╔╝╚█████╔╝██║
# ╚═╝  ╚═╝ ╚═════╝ ╚═╝     ╚═╝╚═╝     ╚═╝ ╚═════╝  ╚════╝ ╚═╝
# config by furcom (https://github.com/furcom)

action = copy
files = [emojis, math]
skin-tone = moderate
