// ██████╗  ██████╗ ███████╗██╗
// ██╔══██╗██╔═══██╗██╔════╝██║
// ██████╔╝██║   ██║█████╗  ██║
// ██╔══██╗██║   ██║██╔══╝  ██║
// ██║  ██║╚██████╔╝██║     ██║
// ╚═╝  ╚═╝ ╚═════╝ ╚═╝     ╚═╝
// config by furcom (https://github.com/furcom)

@import "./config"
@import "./drun.rasi"
configuration{show-icons:false;}
textbox-prompt-colon{enabled:false;}
entry{enabled:false;}
mode-switcher{enabled:false;}
