// ██████╗  ██████╗ ███████╗██╗
// ██╔══██╗██╔═══██╗██╔════╝██║
// ██████╔╝██║   ██║█████╗  ██║
// ██╔══██╗██║   ██║██╔══╝  ██║
// ██║  ██║╚██████╔╝██║     ██║
// ╚═╝  ╚═╝ ╚═════╝ ╚═╝     ╚═╝
// config by furcom (https://github.com/furcom)

@import "./config"
@import "./drun.rasi"

configuration {
    show-icons: false;
}
